
html, body {
  margin: 0;
  padding: 0;
  font-family: Candara, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;

  background-color: #434343;
  /* border: 1px solid blue; */  
}

@media (min-width: 640px) {
  body {font-size: 1rem;}
}
@media (min-width: 960px) {
  body {font-size: 1.1rem;}
}
@media (min-width: 1100px) {
  body {font-size: 1.3rem;}
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 20vh 10vh 70vh;
  /* row-gap: 10px; */
  align-content: center;

  grid-template-areas: 
                      "header"
                      "navigation"
                      "content";

  /* border: 2px solid blue; */
}

.App-header {
  grid-area: header;
  background-color: #434343;
  color: white;  
  /* border: 2px solid green; */

  text-align: center;
  margin: 5px auto;
}

.headerLeft {
    width: 200px;
    float: left;
}

.headerRight {
    width: calc(100% - 200px);
    float: left;
}

.App-navigation {
  grid-area: navigation;
  margin : auto 0;
  padding: 10px 20px;
  background-color: #222;
  color: white;

  /* border: 2px solid orange; */
}

.App-content {
  grid-area: content;

  background-color: #242526;
  color: #fff;

  line-height: 2em;
  letter-spacing: 0px;
  word-spacing: 2px;

  /* border: 2px solid red; */
}

.Menu {
  margin: 10px;
  padding: 6px 12px;

  color: white;

  text-decoration: none;
  box-sizing: border-box;
  border-radius: 6px;

  /* border: 1px solid red; */
}

.SelectedMenu {
  margin: 10px;
  padding: 6px 12px;

  color: black;
  background-color: white;

  text-decoration: none;
  box-sizing: border-box;
  border-radius: 6px;
}

.Menu:hover {
  margin: 10px;
  padding: 6px 12px;

  color: green;
  background-color: #aaa;

  text-decoration: none;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  /* padding: 0; */
  margin: 6px 0;
}

h4 {
  margin-top: 20px;
}

.ContentData {
  margin: 0 100px;
  text-align: left;

  /* border: 1px solid red; */
}

.ContentInside {
  margin-top: 20px;
  text-align: left;

  /* border: 1px solid red; */
}

/* .row {
  display: flex;
  width: 100%;
} */

/* .leftList {
  flex: 40%;
}

.rightList {
  flex: 60%;
} */

a.custLink {
  color: white;
  text-decoration: none;
}

a.custLink:visited {
  color: white;
  text-decoration: none;
}

a.custLink:hover {
  color: green;
  text-decoration: none;
}

a.custLink:active {
  color: red;
  text-decoration: none;
}


/* ///////////////////////////// */


@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

/* img, object {
  display: block;
  border: 0;
  max-width: 100%;
  height: auto;
} */

/* * {
  -moz-box-sizing: border-box;
  -webkit-kit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
} */

/* body {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  background: #fefefe;
} */

/* .container {
  width: 80%;
  margin: 60px auto;
} */

/* h1 {
  font-size: 3em;
  font-weight: 600;
} */
