
html, body {
  margin: 0;
  padding: 0;
  font-family: Poppins, Candara, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;

  background-color: #202020;
  /* border: 1px solid blue; */  
}

.App {
  /* text-align: center; */
  display: grid;
  grid-template-rows: 20vh 10vh minmax(70vh, auto);
  /* row-gap: 10px; */
  align-content: center;

  grid-template-areas: 
                      "header"
                      "navigation"
                      "content";
}

.App-header {
  grid-area: header;
  background-color: #202020;
  color: white;  

  text-align: left;
  margin: 5px auto;

  /* border: 2px solid cyan; */
}

.headerLeft {
    width: 150px;
    float: left;
}

.headerRight {
    width: calc(100% - 150px);
    float: right;
}

.App-navigation {
  grid-area: navigation;
  margin : auto 0;
  padding: 10px 20px;
  
  background-color: #222;
  color: white;

  /* border: 2px solid orange; */
}

.App-content {
  grid-area: content;

  background-color: #242526;
  color: #fff;

  line-height: 2em;
  letter-spacing: 0px;
  word-spacing: 2px;

  /* border: 2px solid red; */
}

.NormalMenu {
  margin: 10px;
  padding: 6px 12px;

  color: white;

  text-decoration: none;
  box-sizing: border-box;
  border-radius: 6px;

  /* border: 1px solid purple; */
}

.SelectedMenu {
  margin: auto 10px;
  padding: 6px 12px;

  color: black;
  background-color: white;

  text-decoration: none;
  box-sizing: border-box;
  /* border-radius: 6px; */
}

.NormalMenu:hover {
  margin: 10px;
  padding: 6px 12px;

  color: lightblue;
  background-color: #aaa;

  text-decoration: none;
  box-sizing: border-box;
}



@media only screen and (max-width: 2000px) {
  body {font-size: 1em; }
}

@media only screen and (max-width: 768px) {
  body {font-size: 1em; }
}

@media only screen and (max-width: 576px) {
  body {font-size: .8em; }
}



.ContentData {
  margin: 0 80px;
  text-align: left;
}

@media only screen and (max-width: 830px) {

  .ContentData {
    margin: 0 30px;
  }

  .App {
    grid-template-rows: 24vh 20vh minmax(56vh, auto);
  }

  .NormalMenu {
    margin: 6px;
    padding: 6px 10px;
  }
}

@media only screen and (max-width: 768px) {

  .ContentData {
    margin: 0 30px;
  }

  .App {
    grid-template-rows: 24vh 20vh minmax(56vh, auto);
  }

  .NormalMenu {
    margin: 5px;
    padding: 6px 6px;
  }
}

@media only screen and (max-width: 670px) {

  .ContentData {
    margin: 0 30px;
    /* border: 1px solid yellow; */
  }

  .App {
    grid-template-rows: 32vh 24vh minmax(46vh, auto);
  }

  .NormalMenu {
    margin: 3px;
    padding: 6px 2px;
  }
}

@media only screen and (max-width: 576px) {

  .ContentData {
    margin: 0 20px;
  }

  .App {
    grid-template-rows: 18vh 10vh minmax(78vh, auto);
  }

  .headerLeft {
      width: 120px;
      float: left;
  }

  .headerRight {
      width: calc(100% - 120px);
      float: right;
  }
}


.ContentInside {
  margin-top: 20px;
  text-align: left;
}

a.custLink {
  color: white;
  text-decoration: none;
}

a.custLink:visited {
  color: white;
  text-decoration: none;
}

a.custLink:hover {
  color: green;
  text-decoration: none;
}

a.custLink:active {
  color: red;
  text-decoration: none;
}


/* ///////////////////////////// */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

h1 {
  font-size: 1.6em;
  font-weight: 600;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
}

h3 {
  font-size: 1.3em;
  font-weight: 400;
}

h4 {
  font-size: 1.2em;
  font-weight: 370;

  margin-top: 20px;
}

h5 {
  font-size: 1.1em;
  font-weight: 300;
}

h6 {
  font-size: 1em;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  margin: 6px 0;
}


@media only screen and (max-width: 690px) {

  h1 {
    font-size: 1.2em;
    font-weight: 600;
  }
  
  h2 {
    font-size: 1.1em;
    font-weight: 500;
  }
  
  h3 {
    font-size: 1em;
    font-weight: 400;
  }
  
  h4 {
    font-size: .9em;
    font-weight: 370;
  }
  
  h5 {
    font-size: .8em;
    font-weight: 300;
  }
  
  h6 {
    font-size: .7em;
    font-weight: 300;
  }

}
