
html, body {
  margin: 0;
  padding: 0;
  font-family: Candara, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;

  background-color: #434343;
  /* border: 1px solid blue; */  
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 20vh 10vh 70vh;
  /* row-gap: 10px; */
  align-content: center;

  grid-template-areas: 
                      "header"
                      "navigation"
                      "content";

  /* border: 2px solid blue; */
}

.App-header {
  grid-area: header;
  background-color: #434343;
  color: white;  
  /* border: 2px solid green; */

  text-align: center;
  margin: 5px auto;
}

.headerLeft {
    width: 200px;
    float: left;
}

.headerRight {
    width: calc(100% - 200px);
    float: left;
}

.App-navigation {
  grid-area: navigation;
  margin : auto 0;
  padding: 10px 20px;
  background-color: #222;
  color: white;

  /* border: 2px solid orange; */
}

.App-content {
  grid-area: content;

  background-color: #242526;
  color: #fff;

  line-height: 2em;
  letter-spacing: 0px;
  word-spacing: 2px;

  /* border: 2px solid red; */
}


.Menu {
  margin: 10px;
  padding: 6px 12px;

  color: white;

  text-decoration: none;
  box-sizing: border-box;
  border-radius: 6px;

  /* border: 1px solid red; */
}

.SelectedMenu {
  margin: 10px;
  padding: 6px 12px;

  color: black;
  background-color: white;

  text-decoration: none;
  box-sizing: border-box;
  border-radius: 6px;
}

.Menu:hover {
  margin: 10px;
  padding: 6px 12px;

  color: green;
  background-color: #aaa;

  text-decoration: none;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  /* padding: 0; */
  margin: 6px 0;
}

h4 {
  margin-top: 20px;
}

.ContentData {
  margin: 0 100px;
  text-align: left;

  /* border: 1px solid red; */
}

.ContentInside {
  margin-top: 20px;
  text-align: left;

  /* border: 1px solid red; */
}


.row {
  display: flex;
  width: 100%;
}

.leftList {
  flex: 40%;
}

.rightList {
  flex: 60%;
}

a.custLink {
  color: white;
  text-decoration: none;
}

a.custLink:visited {
  color: white;
  text-decoration: none;
}

a.custLink:hover {
  color: green;
  text-decoration: none;
}

a.custLink:active {
  color: red;
  text-decoration: none;
}

